{% extends 'layout.html' %}

{% block content %}

<form method="POST" action="{{url_for('contextdistribution')}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <legend>Get context distribution</legend>

        <div class="form-group">
            {% if form.sentence.errors %}
                {{ form.sentence(class="form-control form-control-md is-invalid", placeholder = 'Domain sentence', autofocus = 'autofocus') }}
                <div class="invalid-feedback">
                    {% for error in form.sentence.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.sentence(class="form-control form-control-md", placeholder = 'Domain sentence', autofocus = 'autofocus') }}
            {% endif %}
        </div>
    </div>
</form>

{% if answer %}

<legend>Context distribution</legend>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Domain</th>
      <th style="width: auto;" scope="col">Context</th>
      <th style="width: auto;" scope="col">Cos similarity</th>
    </tr>
  </thead>

  {% for i in data %}
  <tbody>
    <tr>
      <td><a href="{{url_for('domain', domainid = i[0].domain.id)}}"><span id="domain">{{i[0].domain.name}}</span></a></td>
      <td><a href="{{url_for('context', contextid = i[0].id)}}"><span id="context">{{i[0].name}}</span></a></td>
      <td>{{i[1]}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>


<legend>Cosine-similar domain-labelled sentences</legend>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Label</th>
      <th style="min-width: 8rem;" scope="col">Cos similarity</th>
      <th style="min-width: 18rem;" scope="col">Context</th>
    </tr>
  </thead>

  {% for item in sentences %}
  {% if (item[0].text | length > 40) and (item[0].text | length < 300) %}
  <tbody>
    <tr>
      <td>{{item[0].text}}</td>
      <td>{{item[1]}}</td>
      <td><a href="{{url_for('context', contextid = item[0].context.id)}}"><span id="context">{{item[0].context.name}}</span></a></td>
    </tr>
  </tbody>
  {% endif %}
  {% endfor %}
</table>

{% endif %}





{% endblock content %}

