{% extends 'layout.html' %}

{% block content %}

<form method="POST" action="{{url_for('documents')}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <legend>Upload your documents</legend>

        <div class="form-group" style="margin-left: -1rem;">
            {{ form.files(class="form-control-file col-md") }}
            {% if form.files.errors %}
                {% for error in form.files.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>


<legend>All Document Terms</legend>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Document</th>
      <th style="width: auto;" scope="col">Date</th>
      <th style="width: auto;" scope="col">Total terms</th>
      <th style="width: auto;" scope="col">Total entities</th>
      <th style="width: auto;" scope="col">Total deleted terms</th>
      <th style="width: auto;" scope="col">Total deleted entities</th>
    </tr>
  </thead>

  {% for doc, total in data.items() %}
  <tbody>
    
    <tr>
      <td><a href="{{url_for('document', docid=doc.id, doctitle=doc.title)}}"><span id="document">{{doc.title}}</span></a></td>
      <td>{{doc.date.strftime('%d %b %Y')}}</td>
      <td>{{total[0]}}</td>
      <td>{{total[1]}}</td>
      <td>{{total[2]}}</td>
      <td>{{total[3]}}</td>

    </tr>
    
  </tbody>
  {% endfor %}

</table>


{% endblock content %}

