{% extends 'layout.html' %}

{% block content %}


<legend>List of contexts for {{domain.name}}</legend>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">ID</th>
      <th style="width: auto;" scope="col">Context name</th>
      <th style="width: auto;" scope="col">Date</th>
      <th style="width: auto;" scope="col">Total labels</th>
      <th style="width: auto;" scope="col">Action</th>
    </tr>
  </thead>

  {% for context in contexts %}
  <tbody>
    
    <tr>
      <td>{{context.id}}</td>
      <td><a href="{{url_for('context', contextid = context.id)}}"><span id="context">{{context.name}}</span></a></td>
      <td>{{context.date.strftime('%d %b %Y')}}</td>
      <td>{{context.labels | length }}</td>
      <td>delete</td>
    </tr>
    
  </tbody>
  {% endfor %}

</table>

{% endblock content %}
