{% extends 'layout.html' %}

{% block content %}




<form method="POST" action="{{url_for('domain', domainid = domain.id)}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <legend>Upload your labelled data for <strong>{{domain.name}}</strong></legend>

        <div class="form-group">
            {{ form.file(class="form-control-file col-md") }}
            {% if form.file.errors %}
                {% for error in form.file.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>


{% if labels|length > 0 %}

<legend>Uploaded Lables</legend>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Context</th>
      <th style="width: auto;" scope="col">Label ID</th>
      <th style="width: auto;" scope="col">Label Text</th>
    </tr>
  </thead>


{% for label in labels %}
  <tbody>
    <tr>
      <td>{{label.context.name}}</td>
      <td>{{label.id}}</td>
      <td>{{label.text}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endif %}


{% endblock content %}
