{% extends 'layout.html' %}

{% block content %}


<div>
<legend>{{term.label}}</legend>
<small>Term ID <i>{{term.id}}</i></small><br>


{% if term.fake %}
<small>Status <i>Fake</i></small><br>
  {% else %}
<small>Status <i>Legit</i></small><br>
{% endif %}

<small>Total Frequency <i>{{ term.sentterms | length }}</i></small><br>

<small>Documents</small>

{% for doc, freq in termdocs.items() %}
{{[doc.split('.')[0], freq]}}
{% endfor%}

<h6 style="margin-top: 1rem;">Related Terms</h6>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Related Term</th>
      <th style="width: auto;" scope="col">Frequency</th>
    </tr>
  </thead>

  {% for term, freq in related_terms.items() %}
  <tbody>
    
    <tr>
      <td>{{term}}</td>
      <td>{{freq}}</td>
    </tr>
    
  </tbody>
  {% endfor %}

</table>

{% endblock content %}


