{% extends 'layout.html' %}

{% block content %}


<legend>All Terms</legend>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">ID</th>
      <th style="width: auto;" scope="col">Label</th>
      <th style="width: auto;" scope="col">Doc-Freq</th>
      <th style="width: auto;" scope="col">Uni-Freq</th>
      <th style="width: auto;" scope="col">Documents-Relv</th>
      <th style="width: auto;" scope="col">Domain-Relv</th>
      <th style="width: auto;" scope="col">Type</th>
      <th style="width: auto;" scope="col">Status</th>
      <th style="width: auto;" scope="col">Data Element</th>
      <th style="width: auto;" scope="col">Action</th>
    </tr>
  </thead>



  {% for item in data %}

  <tbody>
    <tr>
      {% if (item[0].fake == False) and (item[0].removed == False) %}
      <td>{{item[0].id}}</td>
      {% if item[0].termtype == db_models.TermType.entity %}
        <td><a href="{{url_for('term', termid = item[0].id)}}"><span id="entity">{{item[0].label}}</span></a></td>
      {% elif item[3] %}
        <td><a href="{{url_for('term', termid = item[0].id)}}"><span id="dekey">{{item[0].label}}</span></a></td>
      {% elif item[0].termtype == db_models.TermType.noun %}
        <td><a href="{{url_for('term', termid = item[0].id)}}"><span id="term">{{item[0].label}}</span></a></td>
      {% else%}
        <td><a href="{{url_for('term', termid = item[0].id)}}"><span id="mnp">{{item[0].label}}</span></a></td>
      {% endif %}
      <td>{{item[0].sentterms | length }}</a></td>
      <td>{{item[1][0]}}</td>
      <td>{{item[1][1]}}</td>
      {% if (item[2][0] == 'NON') and (item[2][1] > 0.5) %}
      <td>Not relevant</td>
      {% else %}
      <td><span id="context">{{item[2][0]}} <b>{{item[2][1]}}</span></b></td>
      {% endif %}

      {% if item[0].termtype == db_models.TermType.entity %}
      <td>Entity</td>
      {% elif item[0].termtype == db_models.TermType.noun %}
      <td>Term</td>
      {% else %}
      <td>Money Number Percent</td>
      {% endif %}

      {% if item[0].removed %}
      <td>Deleted</td>
      {% else %}
      <td>Legit</td>
      {% endif %}

      {% if item[3] %}
        {% if item[3][0][0] == 'freq' %}
        <td><span id="dekey">{{item[3][1][0]}}</span> {{item[3][1][1]}}</td>
        {% else %}
        <td></td>
        {% endif %}
      {% else %}
      <td></td>
      {% endif %}
      <td>
        <form style="float: center; margin-top: 0rem;" method="post" action="{{url_for('term_delete')}}">
          <input type="hidden" name="termid" value="{{item[0].id}}">
          <button type="submit" style="border: 0; background: none;">
            <i class="fa fa-trash-o"></i>
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    
  </tbody>
  {% endfor %}

</table>


<form style="float: center; margin-top: 0rem;" method="post" action="{{url_for('all_term_delete')}}">
  <input type="hidden">
  <button type="submit" style="border: 0; background: none;">
    <i class="fa fa-trash-o"></i>
  </button>
</form>
{% endblock content %}

