{% extends 'layout.html' %}

{% block content %}

{% if term.entity %}
<legend id="entity">{{term.label}}</legend>
{% else%}
<legend id="term">{{term.label}}</legend>
{% endif %}
<!-- basic info related to a term -->

<div>
  <small>Term ID <b>{{term.id}}</b></small><br>

  {% if term.fake %}
  <small>Status <b>Fake</b></small><br>
    {% else %}
  <small>Status <b>Legit</b></small><br>
  {% endif %}

{% if term_freq %}
  <small>Frequency in user documents <b>{{ term_freq[2] }}</b></small><br>
  <small>Universal frequency <b>{{term_freq[1]}}</b> as {{term_freq[0]}}</small><br>
  <small>Relevance <b>{{term_freq[3]}}</b></small><br>

{% endif %}


<!-- operational risk relevance -->

{% if data %}
<h6 style="margin-top: 1rem;">

  <span>
    Operational Risk Relevance
  </span>
    <b>
      {% if (data[0][0] == 'NON') and (data[0][1] > 0.5) %}
        Not relevant
      {% elif (data[0][0] == 'NON') and (data[0][1] <= 0.5) and (data[0][1] > 0.3) %}
        Maybe relevant
      {% else %}
        Relevant
      {% endif%}
    </b>
</h6>

    {% for item in data %}
      {% if (item[0] == 'NON') %}
        <span>{{item[0]}} <b>{{item[1]}}</b></span>
      {% else %}
        <span id="context">{{item[0]}} <b>{{item[1]}}</b></span>
      {% endif %}
    {% endfor %}
{% endif %}
</div>



<!-- list of documents, the term appears in -->
<hr id="line">

<h6 style="margin-top: 1rem;">Documents</h6>

{% for doc, freq in termdocs.items() %}
  <a href="{{url_for('document', docid = doc.id, doctitle = doc.title)}}"><span id="document">{{doc.title.split('.')[0]}} <b>{{freq}}</b></span></a>
{% endfor%}


<!-- related terms based on co-occurrence -->
<hr id="line">

<h6 style="margin-top: 1rem;">Related Terms</h6>
{% if related_terms %}
      {% for item in related_terms %}
            {% if item[1] > 1 and item[0].fake == False and item[0].removed == False %}
                  {% if item[0].entity  %}
                    <a href="{{url_for('term', termid = item[0].id)}}"><span id="entity">{{item[0].label}} <b>{{item[1]}}</b></span></a>
                  {% else %}
                    <a href="{{url_for('term', termid = item[0].id)}}"><span id="term">{{item[0].label}} <b>{{item[1]}}</b></span></a>
                  {% endif %}
            {% endif %}
      {% endfor %}
{% else %}
  None
{% endif %}


<!-- merged items because the user merged them -->
<hr id="line">

<h6 style="margin-top: 1rem;">Merged Items</h6>
{% if children %}
{% for child in children %}
  <div>
      {% if child.term.entity  %}
        <a href="{{url_for('term', termid = child.term.id)}}"><span id="entity">{{child.term.label}}</span></a>
      {% else %}
        <a href="{{url_for('term', termid = child.term.id)}}"><span id="term">{{child.term.label}}</span></a>
      {% endif %}
      <form style="float: right; margin-top: 0rem;" method="post" action="{{url_for('unmark_similar', termid = child.term.id)}}">
        <input type="hidden" name="childid" value="{{term.id}}">
        <button type="submit">UnMark Similar</button>
      </form>
  </div>
{% endfor %}
{% else %}
None
{% endif %}


<!-- similar terms based on cosine similarity -->
<hr id="line">

{% if similar_term_labels  %}

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: auto;" scope="col">Similar terms - available for merging</th>
          <th style="width: auto;" scope="col">Similarity</th>
          <th style="width: auto;" scope="col">Action</th>
        </tr>
      </thead>


    {% for item in similar_term_labels %}
    {% if (item[1] < 0.999) and (item[1] > 0.399) %}
      <tbody>
        <tr>
          <td>
            {% if item[0].entity  %}
              <a href="{{url_for('term', termid = item[0].id)}}"><span id="entity">{{item[0].label}}</span></a>
            {% else %}
              <a href="{{url_for('term', termid = item[0].id)}}"><span id="term">{{item[0].label}}</span></a>
            {% endif %}
          </td>
          
          <td>{{item[1]}}</td>
        
          <td>
            <form style="float: right; margin-top: 0rem;" method="post" action="{{url_for('mark_similar', termid = item[0].id)}}">
              <input type="hidden" name="childid" value="{{term.id}}">
              <button type="submit">Mark Similar</button>
            </form>
          </td>
        </tr>
      </tbody>
    {% endif %}
    {% endfor %}
    </table>


{% else %}
  None
{% endif %}

<!-- related sentences based on cosine similarity -->

<h6 style="margin-top: 1rem;">Related sentences </h6>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Document</th>
      <th style="width: auto;" scope="col">Sentence</th>
      <th style="width: auto;" scope="col">Conf</th>
    </tr>
  </thead>

{% for item in related_sentparadocs %}
 {% if (item[0].senttext | length > 40) and (item[0].senttext | length < 300) %}
  <tbody>
    <tr>
      <td>{{item[0].document.title}}</td>
      <td>{{item[0].senttext}}</td>
      <td>{{item[1]}}</td>
    </tr>
  </tbody>
 {% endif %}
{% endfor %}
</table>



{% endblock content %}


