{% extends 'layout.html' %}

{% block content %}


<div>
<legend>{{term.label}}</legend>
<small>Term ID <i>{{term.id}}</i></small><br>
<small>Frequency <i>{{frequency}}</i></small><br>
<small>Documents</small>
{% for doc, freq in termdocs.items() %}
{{doc, freq}}
{% endfor%}


{% endblock content %}









<h6>Operational Risk Relevance</h6>

<legend>Context distribution</legend>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: auto;" scope="col">Context</th>
      <th style="width: auto;" scope="col">Cos similarity</th>
    </tr>
  </thead>

  {% for i in data %}
  <tbody>
    
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
    </tr>
    
  </tbody>
  {% endfor %}

</table>

  <form style="float: right; margin-top: -1.3rem;" method="post" action="{{url_for('term')}}">
    <input type="hidden" name="termid" value="{{term.id}}">
    <button type="submit" style="border: 0; background: none;">
      <i class="fa fa-trash-o"></i>
    </button>
  </form>
  </div>
